<style>
    .form-section {
        display: none;
    }

        .form-section.current {
            display: block;
        }

    .btn-info, .btn-primary {
        margin-top: 20px;
    }

    .progress {
        margin-top: 20px;
    }
</style>
<div class="container mt-5">
    <h2>Employee Information Form</h2>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
    </div>

    <form id="employeeForm" method="post" enctype="multipart/form-data">
        <!-- Section 1: Employee Information -->
        <div class="form-section current">
            <h3>Employee Information</h3>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Employee Number</label>
                    <input type="number" class="form-control" id="EmployeeNumber" name="Employee.EmployeeNumber" required>
                </div>
                <div class="col-md-4">
                    <label>First Name</label>
                    <input type="text" class="form-control" id="FirstName" name="Employee.FirstName" required>
                </div>
                <div class="col-md-4">
                    <label>Last Name</label>
                    <input type="text" class="form-control" id="LastName" name="Employee.LastName" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Person Type</label>
                    <select class="form-select" id="PersonType" name="Employee.PersonType" required>
                        <option value="Internee">Internee</option>
                        <option value="Regular">Regular</option>
                        <option value="Part-Time">Part-Time</option>
                        <option value="Contractual">Contractual</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Gender</label>
                    <select class="form-select" id="Gender" name="Employee.Gender" required>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>National Identity/CNIC</label>
                    <input type="text" class="form-control" id="NationalId" name="Employee.NationalId" required>
                </div>
                <div class="col-md-4">
                    <label>Start Date/Joining Date</label>
                    <input type="date" class="form-control" id="StartDate" name="Employee.StartDate" required>
                </div>
                <div class="col-md-4">
                    <label>End Date (Termination)</label>
                    <input type="date" class="form-control" id="EndDate" name="Employee.EndDate">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Date of Birth</label>
                    <input type="date" class="form-control" id="DateOfBirth" name="Employee.DateOfBirth" required>
                </div>
                <div class="col-md-4">
                    <label>Country</label>
                    <select class="form-select" id="Country" name="Employee.Country" required>
                        <option value="Pakistan" data-code="+92">Pakistan</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Province</label>
                    <select class="form-select" id="Province" name="Employee.Province" required>
                        <option value="Punjab">Punjab</option>
                        <option value="Sindh">Sindh</option>
                        <option value="Khyber Pakhtunkhwa">Khyber Pakhtunkhwa</option>
                        <option value="Balochistan">Balochistan</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>City</label>
                    <select class="form-select" id="City" name="Employee.City" required>
                        <option value="Lahore">Lahore</option>
                        <option value="Karachi">Karachi</option>
                        <option value="Islamabad">Islamabad</option>
                        <option value="Peshawar">Peshawar</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Nationality</label>
                    <select class="form-select" id="Nationality" name="Employee.Nationality" required>
                        <option value="Pakistani">Pakistani</option>
                        <option value="British">British</option>
                        <option value="American">American</option>
                        <option value="Canadian">Canadian</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Religion</label>
                    <select class="form-select" id="Religion" name="Employee.Religion">
                        <option value="Islam">Islam</option>
                        <option value="Christianity">Christianity</option>
                        <option value="Hinduism">Hinduism</option>
                        <option value="Sikhism">Sikhism</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Father/Husband Name</label>
                    <input type="text" class="form-control" id="FatherOrHusbandName" name="Employee.FatherOrHusbandName" required>
                </div>
                <div class="col-md-4">
                    <label>Mother Name</label>
                    <input type="text" class="form-control" id="MotherName" name="Employee.MotherName" required>
                </div>
                <div class="col-md-4">
                    <label>Marital Status</label>
                    <select class="form-select" id="MaritalStatus" name="Employee.MaritalStatus" required>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Spouse Name</label>
                    <input type="text" class="form-control" id="SpouseName" name="Employee.SpouseName">
                </div>
                <div class="col-md-4">
                    <label>Contact</label>
                    <input type="tel" class="form-control" id="Contact" name="Employee.Contact" required>
                </div>
                <div class="col-md-4">
                    <label>Emergency Contact</label>
                    <input type="tel" class="form-control" id="EmergencyContact" name="Employee.EmergencyContact" required>
                </div>
            </div>

            <button type="button" class="btn btn-primary next">Next</button>
        </div>

        <!-- Section 2: Employee Shift Information -->
        <div class="form-section">
            <h3>Employee Shift Information</h3>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Shift Name</label>
                    <select class="form-select" id="ShiftName" name="Employee.ShiftInformation.ShiftName" required>
                        <option value="Morning">Morning</option>
                        <option value="Evening">Evening</option>
                        <option value="Night">Night</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Start Time</label>
                    <input type="time" class="form-control" id="StartTime" name="Employee.ShiftInformation.StartTime" required>
                </div>
                <div class="col-md-4">
                    <label>End Time</label>
                    <input type="time" class="form-control" id="EndTime" name="Employee.ShiftInformation.EndTime" required>
                </div>
            </div>

            <button type="button" class="btn btn-info prev">Previous</button>
            <button type="button" class="btn btn-primary next">Next</button>
        </div>

        <!-- Section 3: Employee Qualification -->
        <div class="form-section">
            <h3>Employee Qualification</h3>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Qualification Type</label>
                    <select class="form-select" id="QualificationType" name="Employee.Qualification.QualificationType" required>
                        <option value="Degree">Degree</option>
                        <option value="Certificate">Certificate</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Degree Title</label>
                    <select class="form-select" id="DegreeTitle" name="Employee.Qualification.DegreeTitle" required>
                        <option value="Bachelor of Science">Bachelor of Science</option>
                        <option value="Bachelor of Arts">Bachelor of Arts</option>
                        <option value="Master of Science">Master of Science</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Major Subject</label>
                    <select class="form-select" id="MajorSubject" name="Employee.Qualification.MajorSubject" required>
                        <option value="Computer Science">Computer Science</option>
                        <option value="Business Administration">Business Administration</option>
                        <option value="Electrical Engineering">Electrical Engineering</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label>Mark/CGPA</label>
                    <input type="number" class="form-control" id="MarksOrCGPA" name="Employee.Qualification.MarksOrCGPA" required>
                </div>
                <div class="col-md-4">
                    <label>Start Date</label>
                    <input type="date" class="form-control" id="QualificationStartDate" name="Employee.Qualification.StartDate" required>
                </div>
                <div class="col-md-4">
                    <label>End Date</label>
                    <input type="date" class="form-control" id="QualificationEndDate" name="Employee.Qualification.EndDate" required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Institute</label>
                    <select class="form-select" id="Institute" name="Employee.Qualification.Institute" required>
                        <option value="National University of Sciences and Technology">National University of Sciences and Technology</option>
                        <option value="University of Karachi">University of Karachi</option>
                        <option value="Lahore University of Management Sciences">Lahore University of Management Sciences</option>
                    </select>
                </div>
            </div>

            <button type="button" class="btn btn-info prev">Previous</button>
            <button type="submit" id="send" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    <script src="~/js/Employee/AddEmployee.js"></script>

}
